
/* All Global CSS is present here..! */

.is-hidden {
	display: none;
}
.l-display-flex {
	display: flex;
}
.hidden-hide {
	position: relative;
	left: -10000px;
}
.pos-rel {
    position: relative;
}
.l-tablet-width{
	width: 768px;
}
.view-image {
    position: absolute;
    height: 32px;
    width: 30px;
    z-index: 3;
    left: -40px;
    top: 10px;
    cursor: pointer;
    display: none;
}
.header-bar {
    background: linear-gradient(-90deg, #607D8B, #284a5a);
    height: 60px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 6px 30px 10px rgba(0, 0, 0, 0.1);
}
.footer-bar {
    background: linear-gradient(-90deg, #607D8B, #284a5a);
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 8px 8% 0;
    box-shadow: 0px 6px 30px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.mt-5 {
    margin-top: 2.5rem !important;
}

.main-btn-bgcolor {
    background-color: #284a5a;
    border-color: #284a5a;
} 

.main-btn-bgcolor:hover,
.main-btn-bgcolor:focus,
.main-btn-bgcolor:active {
    background-color: #18313e !important;
}

.main-btn-bgcolor:disabled {
    background-color: #284a5a;
    border-color: #284a5a;
    opacity: .65;
}

.clear-btn-bgcolor {
    background-color: #a91c2a;
    border-color: #a91c2a;
}

.clear-btn-bgcolor:hover {
    background-color: #75131d;
}

.guide-btn {
    float: left;
    height: 100%;
    width: 12%;
    border: 5px solid #284a5a;
}

.ham-top-bottom-line {
    width: 30px;
    height: 25px;
    display: inline-block;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-radius: 25%;
    position: absolute;
    left: 20px;
}

.ham-middle-line {
    position: absolute;
    display: inline-block;
    border-top: 5px solid;
    height: 5px;
    width: 100%;
    left: 0;
    top: 38%;
    border-radius: 40%;
}

.user-guide {
    margin-left: 30px;
}
.ham-cross::after,
.ham-cross::before {
    content: '';
    width: 30px;
    position: absolute;
    left: 20px;
    border: 3px solid #fff;
    top: 28px;
    border-radius: 50%;
}   

.ham-cross::before {
    transform: rotate(45deg);
}
.ham-cross::after {
    transform: rotate(135deg);
}
.guide-content {
    height: 360px;
    background-color: #aebec5;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 4;
    border-bottom: 1px solid #5c7a87;
    box-shadow: 0px 6px 30px 10px rgba(0, 0, 0, 0.1);
}
.bluish-border {
    border: 1px solid #5c7a87;
    border-top-width: 0;
    border-bottom-width: 0;
}
.bluish-border:hover {
    background-color: #9ab3bf;
}
.row-content > div {
    height: 360px;
}
.step-block {
    padding: 10% 5%;
}